@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*   {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(54deg, #0c3866 34%, #4a4cb3);
}

.container  {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: baseline;
}

#message-block    {
    margin: auto;
    padding: 0 15px;
    width: 50%;
}

#login-panel {
    padding: 20px 15px;
    margin: auto;
    width: 50%;
    background-color: white;
    border: white;
    border-radius: 8px;
}

#message-large, #message-smell  {
    padding: 5px 0;
}

#message1  {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#message2  {
    color: white;
    font-size: 14px;
}

h2 {
    margin: 12px 0;
    color: #0c3866;
    position: relative;
    background-color: white;
    font-weight: bold;
}

label {
    color: #0c3866;
}

input[type=text], input[type=password] {
    background-color: white;
}

input[type=submit] {
    padding: 4px 0;
    background-color: #f6f1f1;
}

input {
    margin-bottom: 10px;
    height: 30px;
    width: calc(100% - 10px);
}